{% extends "base.html" %}

{% block title %}Destinations | Tourist Guide{% endblock %}

{% block content %}
<h1>Explore Popular Destinations</h1>
<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card">
            <img src="https://via.placeholder.com/500x300" class="card-img-top" alt="Al-Ula">
            <div class="card-body">
                <h5 class="card-title">Al-Ula's Historic Sites</h5>
                <p class="card-text">Discover the ancient wonders of Al-Ula, including Madain Saleh and rock-carved tombs.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card">
            <img src="https://via.placeholder.com/500x300" class="card-img-top" alt="Edge of the World">
            <div class="card-body">
                <h5 class="card-title">The Edge of the World</h5>
                <p class="card-text">Enjoy breathtaking views at this dramatic escarpment near Riyadh.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
