{% extends "base.html" %}

{% block title %}Maps | Tourist Guide{% endblock %}

{% block content %}
<h1>Interactive Map</h1>
<div id="map" style="height: 500px;"></div>
<script>
    var map = L.map('map').setView([24.774265, 46.738586], 6); // Centered on KSA

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    L.marker([24.774265, 46.738586]).addTo(map)
        .bindPopup('Riyadh: Capital of KSA.')
        .openPopup();
</script>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
{% endblock %}
